body {
  background-color: rgb(161, 161, 228);
}

.listPokemons {
  border-style: dashed;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 25%;
  background-color: rgb(136, 184, 132);
}

.title {
  text-align: center;
}